<%- include('partials/header') -%>


<section class="container-fluid vendor-all-products">

    <form action="" method="post" class="vendor-add-a-product-form">
        <button class="btn btn-sm btn-primary add-product-btn"><a href="/admin/addProduct" class="link-light add-product-btn-link">Add a product</a></button>
    </form>

    <button class="btn btn-sm total-products-btn btn-outline-primary">Total products: <%= products.length %> </button>

    <table class="table table-bordered border-primary vendor-table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Image</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Added on</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
    <% products.forEach(product => { %>

        <tr>
            <th scope="row" id="vendorAllProductCounter"> <%= ++rowCount %></th>
            <td><img src="<%= product.imageUrl %>" alt="" class="vendor-product-image" alt="<%= product.name %>"></td>
            <td><h5><%= product.name %></h5></td>
            <td><h5>$ <%= product.price %></h5></td>
            <td><h5><%= product.dateCreated %></h5></td>
            <td>
                <form action="/admin/allProducts" method="POST" class="vendor-all-products-form">
                    <input type="hidden" name="action" class="adminCategoryAction" value>
                    <input type="hidden" name="productName" value="<%= product.name %>">
                    <button type="submit" name="id" class="btn btn-sm btn-outline-secondary action-item adminCategoryViewAction" value="<%= product._id %>">View</button>
                    <button type="submit" name="id" class="btn btn-sm btn-outline-success action-item adminCategoryEditAction" value="<%= product._id %>">Edit</button>
                    <button type="submit" name="id" class="btn btn-sm btn-outline-danger action-item adminCategoryDeleteAction" value="<%= product._id %>">Delete</button>
                </form>
            </td>
          </tr>

  <%  }) %>
          
        </tbody>
      </table>

</section>


<%- include('partials/footer') -%>