<%- include('partials/header') -%>

<section class="container-fluid vendor-all-products">
    
    <form action="/admin/categories" method="POST" class="vendor-add-a-product-form">
        <button type="submit" class="btn btn-sm btn-primary add-product-btn">Add a category</button>
    </form>
    

    <button class="btn btn-sm total-products-btn btn-outline-primary">Total categories: <%= categories.length %> </button>

    <table class="table table-bordered border-primary vendor-table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Name</th>
            <th scope="col">Products</th>
            <th scope="col">Created on</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
    <% categories.forEach(collection => { %>
    
        <tr>
            <th scope="row"> <%= ++rowCount %></th>
            <td><h5><%= collection.category %></h5></td>
            <td><h5><%= collection.products.length %></h5></td>
            <td><h5><%= collection.dateCreated %></h5></td>
            <td>
                <form action="/admin/categories/actions" method="post" class="vendor-all-products-form">
                    <input type="hidden" name="action" class="adminCategoryAction" value>
                    <button type="submit" name="id" class="btn btn-sm btn-outline-secondary action-item adminCategoryViewAction" value="<%= collection._id %>" data-action>View</button>
                    <button type="submit" name="id" class="btn btn-sm btn-outline-success action-item adminCategoryEditAction" value="<%= collection._id %>" data-action>Edit</button>
                    <button type="submit" name="id" class="btn btn-sm btn-outline-danger action-item adminCategoryDeleteAction" value="<%= collection._id %>" data-action>Delete</button>
                </form>
            </td>
          </tr>
    
    <%  }) %>
          
        </tbody>
      </table>
</section>








<%- include('partials/footer') -%>