<%- include('partials/header') -%>


<section class="container-fluid vendorAddProductForm">
    
    <form action="/admin/EditProduct" enctype="multipart/form-data"  method="POST">
        <h3>Edit <%= productName %></h3><br>
        <label for="" class="form-label">Name</label>
        <input type="text" class="form-control" name="productName" required>
    
        <label for="" class="form-label">Price</label>
        <input type="text" class="form-control" name="productPrice" required>

        <label for="" class="form-label">Product Description</label>
        <input type="text" class="form-control" name="description" required>
        
        <label for="" class="form-label">Upload Image</label>
        <input type="file" class="form-control" name="imageFile"  class="form-control" required>


        <label for="" class="form-label">Category</label>
        <input type="text" class="form-control" name="category" required>
       
    
        <label for="" class="form-label">Vendor</label>
        <input type="text" class="form-control" name="vendor" required>
        <br>

        <input type="hidden" name="id" value="<%= productId %>">
        <button type="submit" class="btn btn-md btn-primary" >Edit</button>
    
        <h3><%= status %></h3>    
    </form>
    
    <form action="/admin/allProducts" method="GET">
        <button type="submit" class="btn btn-md btn-primary">Back to all Products</button>
      </form> 
</section>



<%- include('partials/footer') -%>