<%- include('partials/header') -%>

<a class="btn btn-primary btn-lg pd-return-button" href="/" role="button">Back to products</a>


<main>
    <div class="container py-4">
      <header class="pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <span class="fs-4">Checkout</span>
        </a>
      </header>
  
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
            <div class="row">
                <div class="card col-lg-4" style="width: 20rem;">
                    <img src=<%= product.imageUrl %> class="card-img-top" alt="product.name"><br>
                    <h2><%= product.name %></h2>
                    <div class="card-body">
                        <div class="input-group input-group-lg mb-3">
                          <span class="input-group-text" id="inputGroup-sizing-sm">Units</span>
                          <input type="text" id="unitsPurchased" class="form-control" name="quantity-bought" aria-label="input" aria-describedby="inputGroup-sizing-sm" placeholder="1" value>
                        </div> 
                      <br>
                      <h5 class="card-title price-sold" id="productPrice">$ <%= product.price %></h5>
                    </div>
                  </div>
              <div class="col-lg-8 fs-4">
               <form action="/client/checkout" method="post">
                      <label>First and Last name</label>

                      <div class="input-group mb-5">
                        <span class="input-group-text">First and last name</span>
                        <input type="text" aria-label="First name" class="form-control" name="fname" required> 
                        <input type="text" aria-label="Last name" class="form-control" name="lname" required>
                      </div>

                      <label>Email</label>

                      <div class="input-group mb-5">
                        <input type="text" class="form-control" name="email" placeholder="sample" aria-label="Recipient's username" aria-describedby="basic-addon2" required>
                        <span class="input-group-text" id="basic-addon2">@example.com</span>
                      </div>

                      <label>Address</label>

                      <div class="input-group flex-nowrap mb-5">
                        <span class="input-group-text" id="addon-wrapping">Your address here</span>
                        <input type="text" class="form-control" name="address" placeholder="6 Bradley Washington, USA" aria-label="Username" aria-describedby="addon-wrapping" required>
                      </div>

                      <label>Please enter credit card details</label>

                      <div class="input-group flex-nowrap mb-5">
                        <span class="input-group-text" id="addon-wrapping">Card number</span>
                        <input type="password" class="form-control" name="card" placeholder="xxxx xxxx xxxx xxxx" aria-label="Username" aria-describedby="addon-wrapping" required>
                      </div>

                      <input type="hidden" id="totalPriceHidden" name="price" value>
                      <input type="hidden"  name="unitsBought" id="unitsPurchasedHidden" value>
                      <input type="hidden" name="productId" value="<%= product._id %>">
                      

                      <button class="btn btn-primary btn-lg" id="checkoutSubmit" type="submit">Place Order</button>
               </form>
              </div>
            </div>   
        </div>
      </div>
    </div>
<main>





<%- include('partials/footer') -%>