<%- include('partials/header') -%>


<h1 class="home-header-text font">All Products</h1>


  <div class="home-collections-dashboard-top">
    <h4>Collections</h4>
   <% collections.forEach(collection => { %>
      <div class="home-collections-dashboard-item"><a class="all-cat-link" href="#"><%= collection %></a></div>
 <%   })  %>
    <button class="btn btn-sm btn-secondary home-collections-dashboard-bottom"><a class="link-light all-cat-link" href="/categories">See all collections...</a></button>
  </div>

  

  

   <div class="container-fluid overflow-hidden home-products-container">
    <div class="row gy-2">

 <% products.forEach(product => { %>
    <div class="col-lg-3 col-md-6 col-sm home-product-item">
      <div class="card p-1 border custom-card-box-shadow" style="width: 18rem;">
          <img src=<%= product.productImage %> class="card-img-top custom-card-img-styles" alt=<%= product.productName %>>
          <div class="card-body">
            <h5 class="card-title"><%= product.productName %></h5>
            <p class="card-text">Vendor:</p>
            <p class="card-text">$ <%= product.price %></p>
            <a href="/view-product/<%= product.productName %>" class="btn btn-primary">Buy Now</a>
          </div>
        </div>
    </div>
 <% })  %>
      

    </div>
    </div>


<%- include('partials/footer') -%>